/* Cambia el fondo a blanco */
body {
    background-color: #FFFFFF;
    color: #000000; /* Color de texto general en negro */
}

/* Asegúrate de que los titulares estén en negro */
h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

/* Opcionalmente puedes ajustar los textos específicos dentro del modal */
#loadingModal .modal-content {
    color: #000000; /* Cambia el texto del modal a negro */
}

.color-option,
.finish-option {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-option[data-color="C02"] {
    border: 2px solid #000000; /* Borde negro para los botones blancos */
}

.color-option.active,
.finish-option.active {
    border-color: var(--bs-primary);
}

.color-option::after,
.finish-option::after {
    content: '✓';
    color: white;
    font-weight: bold;
    display: none;
}

.color-option[data-color="C02"]::after {
    content: '✓';
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: none;
}

.color-option.active::after,
.finish-option.active::after {
    display: block;
}

.finish-option {
    width: auto;
    padding: 0 10px;
    border-radius: 20px;
    background-color: var(--bs-secondary);
    color: var(--bs-light);
}

#bike-container {
    max-width: 100%;
    height: auto;
    position: relative;
}

#bike-container img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#bike-container img:first-child {
    position: relative;
}

#loadingModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loadingModal .modal-content {
    background: none;
    border: none;
    color: #000000; /* Cambia el texto del modal a negro */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loadingModal.active {
    display: flex; /* Solo mostrará el modal cuando tenga la clase 'active' */
}
