<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bicycle Customizer</title>
    <link rel="stylesheet" href="https://cdn.replit.com/agent/bootstrap-agent-dark-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">MAKO PRO XT</h1>
        <div class="row">
            <div class="col-md-8">
                <div id="bike-container" class="position-relative">
                </div>
            </div>
            <div  class="col-md-4">

                <h2>Colors and Finishes</h2>

                <div id="layers-container">
                
                </div>

                <div class="mt-4">
                    <button onclick="initGoogleSignIn()" class="btn btn-secondary me-2">Authenticate and Load Images</button>
                    <button id="reset-btn" class="btn btn-warning">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/googledrive.js') }}"></script>
    <script src="{{ url_for('static', filename='js/colors.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- Modal de Carga -->
        <div class="modal" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p class="mt-3">Actualizando imágenes, por favor espera...</p>
                </div>
            </div>
            </div>
        </div>
  
</body>
</html>
