<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bicycle Customizer</title>
    <link rel="stylesheet" href="https://cdn.replit.com/agent/bootstrap-agent-dark-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">MAKO PRO XT</h1>
        <p>Reference: SUMPS.352A.2E.1 EAN: 3434343434343423</p>
        
        <div class="row">
            <div class="col-md-8">
                <div id="bike-container" class="position-relative">
                    <img id="layer-0" src="{{ url_for('static', filename='images/MAKO-0-0-XX-XX-XX-XX.png') }}" alt="Bike Layer 0" class="img-fluid">
                    <img id="background-layer" src="{{ url_for('static', filename='images/MAKO-0-1-C95-XX-XX-XX.png') }}" alt="Bike Background" class="img-fluid">
                    <img id="color1-layer" src="{{ url_for('static', filename='images/MAKO-0-2-C105-XX-XX-XX.png') }}" alt="Color 1" class="img-fluid position-absolute top-0 start-0">
                    <img id="color2-layer" src="{{ url_for('static', filename='images/MAKO-0-3-C01-XX-XX-XX.png') }}" alt="Color 2" class="img-fluid position-absolute top-0 start-0">
                    <img id="graphic1-layer" src="{{ url_for('static', filename='images/MAKO-0-4-C01-XX-XX-XX.png') }}" alt="Graphic 1" class="img-fluid position-absolute top-0 start-0">
                    <img id="graphic2-layer" src="{{ url_for('static', filename='images/MAKO-0-5-C01-XX-XX-XX.png') }}" alt="Graphic 2" class="img-fluid position-absolute top-0 start-0">
                    <img id="layer-6" src="{{ url_for('static', filename='images/MAKO-0-6-XX-XX-XX-XX.png') }}" alt="Bike Layer 6" class="img-fluid position-absolute top-0 start-0">
                </div>
            </div>
            <div class="col-md-4">
                <h2>Colors and Finishes</h2>
                <div class="mb-3">
                    <h3>Background</h3>
                    <div id="background-colors" class="d-flex flex-wrap">
                        <div class="color-option" data-color="C105-BLACK" style="background-color: #000000;"></div>
                        <div class="color-option" data-color="C86-WHITE" style="background-color: #FFFFFF;"></div>
                        <div class="color-option" data-color="C88-RED" style="background-color: #FF0000;"></div>
                        <div class="color-option" data-color="C93-BLUE" style="background-color: #0000FF;"></div>
                        <div class="color-option active" data-color="C95-GREEN" style="background-color: #00FF00;"></div>
                        <div class="color-option" data-color="C94-YELLOW" style="background-color: #FFFF00;"></div>
                    </div>
                </div>
                <div class="mb-3">
                    <h3>Color 1</h3>
                    <div id="color1-options" class="d-flex flex-wrap">
                        <div class="color-option active" data-color="C105-BLACK" style="background-color: #000000;"></div>
                        <div class="color-option" data-color="C83-WHITE" style="background-color: #FFFFFF;"></div>
                        <div class="color-option" data-color="C84-RED" style="background-color: #FF0000;"></div>
                        <div class="color-option" data-color="C86-BLUE" style="background-color: #0000FF;"></div>
                        <div class="color-option" data-color="C88-GREEN" style="background-color: #00FF00;"></div>
                    </div>
                </div>
                <div class="mb-3">
                    <h3>Color 2</h3>
                    <div id="color2-options" class="d-flex flex-wrap">
                        <div class="color-option active" data-color="C01-BLACK" style="background-color: #000000;"></div>
                        <div class="color-option" data-color="C22-WHITE" style="background-color: #FFFFFF;"></div>
                        <div class="color-option" data-color="C34-RED" style="background-color: #FF0000;"></div>
                        <div class="color-option" data-color="C62-BLUE" style="background-color: #0000FF;"></div>
                        <div class="color-option" data-color="C75-GREEN" style="background-color: #00FF00;"></div>
                    </div>
                </div>
                <div class="mb-3">
                    <h3>Graphic 1</h3>
                    <div id="graphic1-options" class="d-flex flex-wrap">
                        <div class="color-option active" data-color="C01-BLACK" style="background-color: #000000;"></div>
                        <div class="color-option" data-color="C02-WHITE" style="background-color: #FFFFFF;"></div>
                        <div class="color-option" data-color="C22-RED" style="background-color: #FF0000;"></div>
                    </div>
                </div>
                <div class="mb-3">
                    <h3>Graphic 2</h3>
                    <div id="graphic2-options" class="d-flex flex-wrap">
                        <div class="color-option active" data-color="C01-BLACK" style="background-color: #000000;"></div>
                        <div class="color-option" data-color="C02-WHITE" style="background-color: #FFFFFF;"></div>
                        <div class="color-option" data-color="C22-RED" style="background-color: #FF0000;"></div>
                    </div>
                </div>
                <div class="mt-4">
                    <button id="accept-btn" class="btn btn-primary me-2">Accept Customization</button>
                    <button id="cancel-btn" class="btn btn-secondary me-2">Cancel</button>
                    <button id="reset-btn" class="btn btn-warning">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
